.navbar{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 109px;
    /* background-color: brown; */
}

.menu{
    width: 249px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    
}