.navcontainer {
    width: 100%;
    height: 79%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.text {
    width: 438px;
    height: 66px;
    margin-right: 61px;

}

.text h4 {
    font-size: 16px;
    font-weight: 400;
}

.mainText {
    position: absolute;
    width: 775px;
    height: 333px;
    left: 110px;
    top: 284px;
}