.leftnav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 250px;
    height: 18px;
    left: 18px;
    top: 820px;

    transform: rotate(-90deg);
}

.leftnav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    text-align: right;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.leftnav1 {
    width: 74px;
    height: 18px;
}

.leftnav2 {
    width: 66px;
    height: 18px;
}

.leftnav3 {
    width: 46px;
    height: 18px;
}